# GENERAL ===========================================================
.env
.vscode/*
!.vscode/extensions.json
.idea

# FRONTEND ===========================================================
frontend/node_modules
frontend/dist
frontend/dist-ssr

# BACKEND ==========================================================